<div class="sign-in-form w-50 rounded mx-auto">
  <h2 class="login-title mt-3">アカウント設定</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="col-md-9 mx-auto mt-3 mb-3">
      <!-- メールアドレス -->
      <div class="form-group">
        <%= f.label      :email, class: "text-muted" %><br />
        <%= f.text_field :email, autofocus: true, autocomplete: "off", class: "form-control login-form rounded-pill" %>
      </div>
      <!-- パスワード -->
      <div class="form-group">
        <div class="d-flex justify-content-center">
          <%= f.label :password, class: "text-muted" %>
          <em class="text-muted">(変更しない場合は空白)</em>
        </div>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control login-form rounded-pill" %>
      </div>
      <!-- 確認用パスワード -->
      <div class="form-group">
        <%= f.label          :password_confirmation, class: "text-muted" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control login-form rounded-pill" %>
      </div>
      <!-- 現在のパスワード -->
      <div class="form-group">
        <%= f.label :current_password, class: "text-muted" %>
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control login-form rounded-pill" %>
      </div>
      <!-- 登録するボタン -->
      <div class="actions mb-5">
        <%= f.submit "登録する", class: "btn btn-login btn-block rounded-pill" %>
      </div>
      <!-- アカウント削除ボタン -->
      <div class="actions">
        <%= button_to "アカウント削除", registration_path(resource_name), data: { confirm: "本当に削除してもよろしいですか？" }, method: :delete, class: "btn btn-sm btn-danger" %>
      </div>
    </div>
  <% end %>
</div>