<div class="col-md-7 rounded mx-auto">
  <h2 class="page-title mt-1">
    <%= icon 'fas', 'heart' %> お気に入りゲーム一覧
  </h2>
  <!-- 一覧ここから -->
  <% @favorites.each do |game| %>
    <div class="game mb-3">
      <!-- タイトル -->
      <h5 class="game__title mt-2">
        <font color="<%= game.color.code %>"><%= icon 'fas', 'gamepad' %></font> 
        <%= link_to game_path(game.id) do %>
          <%= game.name %>
        <% end %>
      </h5>
      <div class="game__caption text-muted">
        <!-- 最新イベント -->
        <div class="game__caption__event d-flex">
          <p class="game__caption__event__head mb-0">
            <%= icon 'far', 'clock', class: "game__caption__event__head__icon" %> 最新イベント
          </p>
          <p class="game__caption__event__body mb-0">
            <%= game.last_event.title %>
          </p>
        </div>
        <!-- 更新日 -->
        <div class="game__caption__event d-flex">
          <p class="game__caption__event__head mb-0">
            <%= icon 'far', 'edit', class: "game__caption__event__head__icon" %> 最終更新
          </p>
          <p class="game__caption__event__body mb-0">
            <%= game.updated_at %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>