<div class="row">
  <h3 class="game-title">
    <%= @game.name %>
  </h3>
  <%= link_to game_path(@game) do %>
    <%= icon 'far', 'calendar-alt', class:"pt-2 pl-2" %>
  <% end %>
  <%= link_to game_events_path(@game) do %>
    <%= icon 'far', 'clock', class:"pt-2 pl-2" %>
  <% end %>
  <%= link_to new_game_event_path(@game) do %>
    <%= icon 'fas', 'plus', class:"pt-2 pl-2" %>
  <% end %>
  <%= link_to edit_game_path(@game) do %>
    <%= icon 'fas', 'wrench', class:"pt-2 pl-2" %>
  <% end %>
</div>

<div class="row mb-3">
  <ul class="list-inline">
    <% @game.tag_list.each do |tag| %>
      <li class="list-inline-item badge badge-color"><%= tag %></li>
    <% end %>
  </ul>
</div>

<div class="row">
  <div class="card mt-2 w-100">
    <div class="card-body">

      <%= form_with model: [ @game, @event ], class: "form-group" do |f| %>
        <%= f.label      :title, 'タイトル', class: "text-muted mb-1" %>
        <%= f.text_field :title, class: "form-control mb-2", placeholder: "イベント・キャンペーン名を入力してください" %>

        <div class="d-flex mb-2">
          <div class="form-item mr-4">
            <%= f.label      :start, '開始日時', class: "text-muted mb-1" %><br />
            <%= f.datetime_select :start, {use_two_digit_numbers: true,
              datetime_separator: '　'}, class: 'form-control bootstrap-date' %>
          </div>

          <div class="form-item">
            <%= f.label      :end,   '終了日時', class: "text-muted mb-1" %><br />
            <%= f.datetime_select :end, {use_two_digit_numbers: true}, class: 'form-control bootstrap-date' %>
          </div>
        </div>

        <%= button_tag type: 'submit', class: "btn btn-okColor w-100" do %>
          <%= icon 'fas', 'plus' %> 登録する
        <% end %>
      <% end %>
    </div>
  </div>
</div>