<div class="row">
  <h3 class="game-title">
    <%= @game.name %>
  </h3>
  <%= link_to game_path(@game) do %>
    <%= icon 'far', 'calendar-alt', class:"pt-2 pl-2" %>
  <% end %>
  <%= link_to game_events_path(@game) do %>
    <%= icon 'far', 'clock', class:"pt-2 pl-2" %>
  <% end %>
  <%= link_to new_game_event_path(@game) do %>
    <%= icon 'fas', 'plus', class:"pt-2 pl-2" %>
  <% end %>
  <%= link_to edit_game_path(@game) do %>
    <%= icon 'fas', 'wrench', class:"pt-2 pl-2" %>
  <% end %>
</div>

<div class="row mb-3">
  <ul class="list-inline">
    <% @game.tag_list.each do |tag| %>
      <li class="list-inline-item badge badge-color"><%= tag %></li>
    <% end %>
  </ul>
</div>

<div class="row">
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th>タイトル</th>
        <th scope="col">開始</th>
        <th scope="col">終了</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <th scope="row">
            <%= event.title %>
          </th>
          <td>
            <%= event.start.strftime("%Y-%m-%d　%H:%M") %>
          </td>
          <td>
            <%= event.end.strftime("%Y-%m-%d　%H:%M") %>
          </td>
          <td>
            <div class="text-center">
              <%= link_to edit_game_event_path(id: event.id, game_id: @game.id) do %>
                <button type="button" class="btn btn-edit btn-sm">編集</button>
              <% end %>
              <%= link_to game_event_path( @game,  event), method: :delete do %>
                <button type="button" class="btn btn-delete btn-sm">削除</button>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>