<%= render partial: "./layouts/game_menu", locals: { game: @game, game_id: params[:game_id] } %>
<%= render partial: "./layouts/game_tags", locals: { game: @game } %>

<div class="row">
  <table class="table table-hover table-bordered">
    <thead class="thead-light">
      <tr>
        <th>タイトル</th>
        <th scope="col">開始</th>
        <th scope="col">終了</th>
        <% if user_signed_in? %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <th scope="row">
            <%= event.title %>
          </th>
          <td>
            <%= event.start.strftime("%Y-%m-%d　%H:%M") %>
          </td>
          <td>
            <%= event.end.strftime("%Y-%m-%d　%H:%M") %>
          </td>
          <% if user_signed_in? %>
            <td>
              <div class="text-center">
                <%= link_to edit_game_event_path(id: event.id, game_id: @game.id) do %>
                  <button type="button" class="btn btn-edit btn-sm">編集</button>
                <% end %>
                <%= link_to game_event_path( @game,  event), method: :delete do %>
                  <button type="button" class="btn btn-delete btn-sm">削除</button>
                <% end %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>