<div class="col-md-7 rounded mx-auto">
  <h2 class="page-title mt-1">
    <%= icon 'fas', 'search-plus' %> ゲームをさがす
  </h2>

  <div class="game mb-3">
    <!-- 検索フォーム -->
    <%= form_with class: "form-group search-form", method: :get do |f| %>
      <div class="form-control rounded-pill d-flex p-0">
        <%= f.text_field :name, class: "border-0 form-control", id: "gameSearch-input", autocomplete: "off" %>
        <%= f.label      :name, class: "m-0 pr-2" do %>
          <%= button_tag type: 'submit', class: "btn search-form__btn", id: "btn-search" do %>
            <%= icon 'fas', 'search' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <!-- 検索説明文 -->
    <p class="text-muted small mb-2">
      略称(キーワード)検索がご利用いただけます。<br />
      例：Fate/Grand Order は、「FGO」「フェイト」等でもヒットします。<br />
      ※未入力の場合、登録されているゲームが全て表示されます。
    </p>
    <h6 id="search-caption" class="m-0">
      <%= icon 'fas', 'caret-down' %> 検索しても見つからない場合…
    </h6>
    <!-- 説明文をクリックすると表示される部分 -->
    <div id="search-caption__text" class="small mt-1">
      <p class="mb-1">下記ボタンより、新規ゲームを登録することができます。</p>
        <%= link_to new_game_path do %>
          <%= button_tag "登録する", type: 'button', class: "btn btn-sm btn-okColor m-0" do %>
            <%= icon "fas", "plus" %> 登録する
          <% end %>
        <% end %>
    </div>
  </div>
</div>

<div id="game-search-result" class="col-md-7 rounded mx-auto">
</div>