<div class="row d-flex justify-content-between">
  <!-- タイトル -->
  <div class="game-show">
    <h3 class="game-show__title">
      <%= game.name %>
    </h3>
  </div>
  <!-- メニューここから -->
  <div class="game-show">
    <!-- スケジュール -->
    <%= link_to game_path(game) do %>
      <%= icon 'far', 'calendar-alt', class:"pt-2 pl-2" %>
      <span class="small">スケジュール</span>
    <% end %>
    <!-- イベント一覧 -->
    <%= link_to game_events_path(game) do %>
      <%= icon 'far', 'clock', class:"pt-2 pl-2" %>
      <span class="small">イベント一覧</span>
    <% end %>
    <!-- イベント登録-->
    <% if user_signed_in? %>
      <%= link_to new_game_event_path(game) do %>
        <%= icon 'fas', 'plus', class:"pt-2 pl-2" %>
        <span class="small">イベント登録</span>
      <% end %>
      <!-- ゲーム編集 -->
      <%= link_to edit_game_path(game) do %>
        <%= icon 'fas', 'wrench', class:"pt-2 pl-2" %>
        <span class="small">情報編集</span>
      <% end %>
    <% end %>
    <%= render partial: "./layouts/favorite_button", locals: { game: game, game_id: game.id } %>
  </div>
</div>