<nav class="navbar navbar-expand-lg navbar-dark bg-mainColor">
  <a class="navbar-brand" href="#">Social Game Calendar</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="Navber">
    <ul class="navbar-nav">
      <!-- メニューここから -->
      <li class="nav-item active">
        <%= link_to root_path, class: "nav-link" do %>
          <%= icon 'fas', 'home' %> ホーム
          <span class="sr-only"></span>
        <% end %>
      </li>
      <!-- お気に入り -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to user_favorites_path(current_user.id), class: "nav-link" do %>
            <%= icon 'fas', 'heart' %> お気に入り
          <% end %>
        </li>
      <% end %>
      <!-- 検索 -->
      <li class="nav-item">
        <%= link_to search_games_path, class: "nav-link" do %>
          <%= icon 'fas', 'search-plus' %> さがす
        <% end %>
      </li>
      <!-- アカウント設定 -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to edit_user_registration_path(params[:id]), class: "nav-link" do %>
            <%= icon 'fas', 'cog' %> アカウント設定
          <% end %>
        </li>
      <% end %>
      <!-- ヘルプ -->
      <li class="nav-item">
        <%= link_to help_path, class: "nav-link" do %>
          <%= icon 'fas', 'question' %> ヘルプ
        <% end %>
      </li>
      <!-- ログアウトまたは新規登録 -->
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link", id: "log-out" do %>
            <%= icon 'fas', 'sign-out-alt' %> ログアウト
          <% end %>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            <%= icon 'fas', 'user-plus' %> 新規登録
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <%= icon 'fas', 'sign-in-alt' %> ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>