<nav class="navbar navbar-expand-lg navbar-dark bg-mainColor">
  <a class="navbar-brand" href="#">ここにタイトルを入れてね</a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="Navber">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to root_path, class: "nav-link" do %>
          <%= fa_icon "home" %> ホーム
          <span class="sr-only"></span>
        <% end %>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= fa_icon "heart" %> お気に入り
        </a>
      </li>
      <li class="nav-item">
        <%= link_to search_games_path, class: "nav-link" do %>
          <%= fa_icon "search-plus" %> さがす
        <% end %>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= fa_icon "cog" %> アカウント設定
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= fa_icon "question" %> ヘルプ
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <%= fa_icon "sign-out" %> ログアウト
        </a>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>